[submodule "site/themes/piercer"]
	path = site/themes/piercer
	url = https://github.com/danielkvist/hugo-piercer-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
